@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Survey App</h1>
    <p>Welcome to the Survey App click the link above in the header to access it</a></p>
</div>
